#myMap {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#reportDiv {
	position: fixed;
	display: none;
	width: 600px;
    bottom: 0;
	z-index: 1;
}

#reportImg {
	height: 125px;
}

#locationSearchBox {
	box-sizing: border-box !important;
}

#reportFormBody {
	background-color: #e5e5e5;
	margin-top: 50px;
}

#reportFormBody form {
	margin-top: 20px;
}

#submitBtn {
	margin-top: 20px;
}