<body>
<mat-grid-list cols="2" rowHeight="600px">
  <mat-grid-tile colspan="1" rowspam="3">
    <mat-card>
      <mat-card-header>
        <mat-card-title>News 1</mat-card-title>
        <mat-card-subtitle>News 1</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspam="1">
    <mat-card>
      <mat-card-header>
        <mat-card-title>News 1</mat-card-title>
        <mat-card-subtitle>News 1</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>News 1</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>News 1</mat-card-title>
        <mat-card-subtitle>News 1</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>News 1</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>News 1</mat-card-title>
        <mat-card-subtitle>News 1</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>News 1</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>News 1</mat-card-title>
        <mat-card-subtitle>News 1</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>News 1</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>News 1</mat-card-title>
        <mat-card-subtitle>News 1</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>News 1</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>News 1</mat-card-title>
        <mat-card-subtitle>News 1</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>News 1</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</body>
