<body><mat-grid-list cols="2">
  <mat-grid-tile colspan="1" rowspam="1" rowHeight="600px">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Video 1</mat-card-title>
        <mat-card-subtitle>Video 1</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <iframe
          width="420"
          height="315"
          src="https://www.youtube.com/embed/tgbNymZ7vqY"
        ></iframe>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspam="1">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Video 2</mat-card-title>
        <mat-card-subtitle>Video 2</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspam="1">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Video 2</mat-card-title>
        <mat-card-subtitle>Video 2</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</body>
